<nav>
        <h4> Sistema</h4>
        <ul>
            <li><a href="/"> <i class='bx bxs-home'></i> Home</a></li>
            <li><a href="/produtos/allProdutos"><i class='bx bxs-edit'></i> Produtos</a></li>
            <li><a href="/clientes/allClientes"><i class='bx bxs-edit'></i> Clientes</a></li>
            <li><a href="/fornecedores/allFornecedores"><i class='bx bxs-edit'></i> Fornecedores</a></li>
            <li><a href="/vendas/listarVendas"><i class='bx bxs-edit'></i> Vendas</a></li>

            <!--<li><a href="/cadastrar"><i class='bx bxs-edit'></i> Cadastar</a></li> -->
        </ul>
</nav>