<nav>
        <h4> Sistema MVC Node.JS</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/allProdutos">Listar</a></li>
            <li><a href="/cadastrar">Cadastar</a></li>
        </ul>
</nav>