{{!-- esse usuario foi feito aqui para que possa ser chamado não barra de identificação,
e mostrar o nome do usuario altenticado!!
a parte da barra de autenticação está no arquivo menu --}}
<div class="userPartials">
  <label>{{this.nome}}</label>
</div>