<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Nodejs</title>
    {{!-- <link href="/stylesheets/estilo_home.css" rel="stylesheet" type="text/css"> --}}
    <script type="text/javascript" src="/javascripts/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/typeahead.min.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>

    <!-- iCONES -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS -->
<link href="/assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />

</head>

<body>
    <!--
    <div class="container">
    </div>
    {{> menu}}
   -->
<div class="main-panel">
    {{{body}}}
</div>
</body>

</html>