<title>Sistema Mercadinho</title>

<link href="/stylesheets/estilo_home.css" rel="stylesheet" type="text/css">

<!-- BOOTSTRAP -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"
	type="text/javascript"></script>

 <!-- CSS -->
<link href="/assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />

    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/assets/img/sidebar-1.jpg">

      <div class="logo">
        <a href="/home" class="simple-text logo-normal">
          Sistema Mercadinho
        </a>
      </div>
      
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active">
            <a class="nav-link" href="/home">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/produtos/allProdutos">
              <i class="material-icons">store</i>
              <p>Produtos</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/fornecedores/allFornecedores">
              <i class="material-icons">storage</i>
              <p>Fornecedores</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/clientes/allClientes">
              <i class="material-icons">group</i>
              <p>Clientes</p>
            </a>
          </li>
          {{!-- <li class="nav-item ">
            <a class="nav-link" href="/usuarios/allusuarios">
              <i class="material-icons">person_add</i>
              <p>Usuarios</p>
            </a>
          </li> --}}
          <li class="nav-item ">
            <a class="nav-link" href="/vendas/listarVendas">
              <i class="material-icons">thumbs_up_down</i>
              <p>Vendas</p>
            </a>
          </li>
          
        </ul>
      </div>
    </div>

    {{>navbar}}



<div id="conteudo" style="margin-top: 10vw;"> 
    <div id="conteudo_item_menu">

        <div class="item">
            <div class="imagem">
                <a href="/produtos/cadastrar"><figure id="item_new"  >
                    <img src="../imagens/cadastro.png" alt="Novo Produto">
                </figure></a>
            </div>
            <div class="legenda">
                <p ><a href="/produtos/cadastrar">Novo Produto</a></p>
            </div>

        </div>


        <div class="item">
            <div class="imagem" >
                <a href="#">
                    <figure id="entradaxml">
                        <img src="../imagens/caixa-de-entrada.png" alt="Entrada XML">
                    </figure>
                </a>
            </div>
            <div class="legenda">
                <p><a href="#"> Entrada de Produto</a></p> 
            </div>
        </div>


        <div class="item">
            <div class="imagem" > 
                <a href="/produtos/saidaProduto">
                    <figure id="saida" >
                        <img src="../imagens/saida.png" alt="Saída de Produto">
                    </figure>
                </a>
            </div>
            <div class="legenda">
                <p><a href="/produtos/vendaProduto"> Realizar Venda </a> </p> 
            </div>
        </div>



        <div class="item">
            <div class ="imagem"> 
                <a href="fornecedores/cadastrar">
                    <figure>
                        <img src='../imagens/acordo.png' alt="Novo Fornecedor">
                    </figure>
                </a>
            </div>
            <div class="legenda">
                <p class="legenda"><a href="fornecedores/cadastrar"> Novo Fornecedor</a></p> 
            </div>
        </div>
    
    </div>
</div>



