{{!-- essa home aqui será a Final --}}

<title>Sistema Node | Home</title>
</head>

<body> 
  
   {{> menu}}
      
<div id="conteudo"> 
    <h1> Menu Rápido </h1>
    <div id="conteudo_item_menu">

        <div class="item">
            <div class="imagem">
                <a href="/produtos/cadastrar"><figure id="item_new"  >
                    <img src="../imagens/icon-new.png" alt="Novo Produto">
                </figure></a>
            </div>
            <div class="legenda">
                <p ><a href="/produtos/cadastrar">Novo Produto</a></p>
            </div>

        </div>


        <div class="item">
            <div class="imagem" >
                <a href="#">
                    <figure id="entradaxml">
                        <img src="../imagens/icon-entrada.png" alt="Entrada XML">
                    </figure>
                </a>
            </div>
            <div class="legenda">
                <p><a href="#"> Entrada de Produto</a></p> 
            </div>
        </div>


        <div class="item">
            <div class="imagem" > 
                <a href="#">
                    <figure id="saida" >
                        <img src="../imagens/icon-saida.png" alt="Saída de Produto">
                    </figure>
                </a>
            </div>
            <div class="legenda">
                <p><a href="#"> Saída de Produto</p> </a>
            </div>
        </div>



        <div class="item">
            <div class ="imagem"> 
                <a href="fornecedores/cadastrar">
                    <figure>
                        <img src='../imagens/icon-fornecedor.png' alt="Novo Fornecedor">
                    </figure>
                </a>
            </div>
            <div class="legenda">
                <p class="legenda"><a href="fornecedores/cadastrar"> Novo Fornecedor</a></p> 
            </div>
        </div>
    
    </div>
</div>



</body>

</html>



