
<div class="container mt-4">
    <div class="jumbotron justify-content-center"style="text-align: center;" >
        <h1 class="display-5">Bem-vindo ao sistema <br> de cadastro de produtos </h1>
        <p class="lead">Esse projeto foi criado utilizando: Nodejs, Express, sequelize, Boostrap 4 e MySQL!</p>
        <hr class="my-4">
        
            <div class="row">
                <div class="col">
                    <p>Visite o meu github</p>
                    <a class="btn btn-dark btn-lg" href="https://github.com/geovanesv" role="button" target="_blank">Github</a>
                </div>
                <div class="col">
                    <p>Visite o meu Linkedin</p>
                    <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/geovane-araujo-07str" role="button" target="_blank">Linkedin</a>
                </div>
            </div>
       
    </div>
</div>
