{{!-- esse index é a tela de login --}}

<title>Sistema Node| Login</title>
</head>

<body>


<div class="content">



<form id="formulario" method="POST" >

<div id="icon-user"></div><input id="txtNome" name="email" class="inputText"  required placeholder="Email"> <div class="clear"></div>

<div id="icon-password"></div><input id="txtSenha" name="senha" class="inputText" type="password" required placeholder="Senha">
<div class="clear"></div>

<button id="btnEntrar"name="btnEntrar" type="submit"> LOGIN </button><br>


<div class="container-senha">

<div id="esquerda">
<input id="chkLembrar" name="chkLembrar" value="Sim" type="checkbox" /> 
</div>

<div id="direita">
<span > <a  href="/newUsuario" class="lksenha"> Não tem cadastro? Clique Aqui </span></a> <br>
</div>

<div class="clear"> </div>



</div>

</div>
</form>


</body>
</html>

