

<link href="/assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />

  
    <link rel="stylesheet" href="/stylesheets/stylelogin.css" type="text/css">
    <script src="https://kit.fontawesome.com/cf6fa412bd.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/login.js"></script>

<div class="container2" >
    <div class="buttonsForm">
      <div class="btnColor"></div>
      <button id="btnSignin">Entrar</button>
      <button id="btnSignup">Cadastrar</button>
    </div>

    <form id="signin" method="post" action="/login">
      <input type="text" placeholder="Nome" required="true" name="nome" />
        <i class="fas fa-envelope iEmail"></i>
      <input type="password" placeholder="Senha" required="true"  name="password"/>
        <i class="fas fa-lock iPassword"></i>
      <div class="divCheck">
        <input type="checkbox" />
        <span>Lembrar Senha</span>
      </div>
      <button type="submit">Entrar</button>
    </form>

    <form id="signup" method="post" action="/newUsuarioSave">
      <input type="text" placeholder="Nome" required="true" name="nome"/>
        <i class="fas fa-lock iPassword"></i>
      <input type="text" placeholder="Email" required="true" name="email"/>
        <i class="fas fa-envelope iEmail"></i>
      <input type="password" placeholder="Senha" required="true"  name="password"/>
        <i class="fas fa-lock iPassword"></i>
      <button type="submit">Cadastrar</button>
    </form>
  </div>


