nav{
    position:fixed;
    top: 0;
    left: 0;
    width: 13%;
    height: 100%;
    background-color: #3c317a;
    color: #fff;
    padding: 30px 15px;
    display: flex;  
    flex-direction: column;
}
nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 0;
}
nav li {
    display: flex;
    list-style: none;
    flex-direction: column;
    
    
}
nav li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 5px;
}
nav li a:hover{
    background-color: #fff;
    color: #563d7c;
    border-radius: 5%;
    text-decoration: none;
    
}



