nav{
    background-color: #3c317a;
    color: #fff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav li {
    list-style: none;
}
nav li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 15px;
}
nav li a:hover{
    background-color: #fff;
    color: #563d7c;
    border-radius: 5%;
    text-decoration: none;
    
}



