@charset "utf-8";
/* CSS Document */
html {
	text-size-adjust: 100%;
}

body {
	padding-top: 57px;
	padding-left: 170px;

}

/*Div Central*/
#conteudo {
	padding: 20px;
	font-size:14px;

}



#conteudo_item_menu {
	display: flex;
	justify-content: center;
	padding: 10px;
	margin-top: 30px;
}

/*divisoria*/
.divisoria{
    background-color:#057ceb;
    height: 2px;
}

.item {
	display: flex;
	flex-direction: column row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 120px;
	border: 1px solid #14005c;
	background-color: #ffffff;
	margin: 15px;
	border-radius: 20px;
	padding: 3px;
	box-shadow: 5px 10px 6px #00000056;
}

figure img {
	width: 50px;
}

.item:hover {
	-moz-transform: scale(1.1);
	transform: scale(1.1);
}

.legenda {
	text-align: center;
}

.legenda a {
	color: black;
}

.botao{
	border: none;
	border-radius: 10%;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;

}

.botao a{
	color: #FFFF;
}
