<div class="container mt-4 container-formulario">
    <div class="card">
        <div class="card-header">
            Cadastrar Produto
        </div>
        <div class="card-body">
            <form action="/fornecedores/novo" method="POST">
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" class="form-control"  name="nome">
                </div>
                
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="text" class="form-control" name="email">
                </div>            
                
                <div class="form-group">
                    <label for="telefone">Telefone</label>
                    <input type="text" class="form-control" name="telefone">
                </div>            
                
                <div class="row md-2" style="margin-top: 15px; margin-left:5px">
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-danger" href="produtos/listarprodutos">Voltar</a>
                    </div>

                </div>
            </form>                
        </div>
    </div>
    {{#if message}}
    <h4 class="alert alert-danger mt4">{{message}}</h4>
    {{/if}}
</div>