 <!-- CSS -->
<link href="/assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />

<div class="sidebar" data-color="purple" data-background-color="white" data-image="/assets/img/sidebar-1.jpg">

	<div class="logo">
	<a href="/" class="simple-text logo-normal">
		Sistema Mercadinho
	</a>
	</div>
	
	<div class="sidebar-wrapper">
		<ul class="nav">
			<li class="nav-item ">
			<a class="nav-link" href="/home">
				<i class="material-icons">dashboard</i>
				<p>Dashboard</p>
			</a>
			</li>
			<li class="nav-item ">
			<a class="nav-link" href="/produtos/allProdutos">
				<i class="material-icons">store</i>
				<p>Produtos</p>
			</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/fornecedores/allFornecedores">
				<i class="material-icons">storage</i>
				<p>Fornecedores</p>
			</a>
			</li>
			<li class="nav-item active">
			<a class="nav-link" href="/clientes/allClientes">
				<i class="material-icons">group</i>
				<p>Clientes</p>
			</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/usuarios/allusuarios">
				<i class="material-icons">person_add</i>
				<p>Usuarios</p>
			</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/vendas/listarVendas">
				<i class="material-icons">thumbs_up_down</i>
				<p>Vendas</p>
			</a>
			</li>
			
		</ul>
	</div>
</div>
{{>navbar}}

<div class="container mt-4 container-formulario">
    <div class="card">
        <div class="card-header">
            Cadastrar Cliente
        </div>
        <div class="card-body">
            <form action="/clientes/novo" method="POST">
                <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" class="form-control"  name="nome">
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control"  name="email">
                </div>
                
                <div class="form-group">
                    <label for="telefone">Telefone</label>
                    <input type="text" class="form-control" name="telefone">
                </div>            
                
                <div class="row md-2" style="margin-top: 15px; margin-left:5px">
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-danger" href="/clientes/allClientes">Voltar</a>
                    </div>

                </div>
            </form>                
        </div>
    </div>
    {{#if message}}
    <h4 class="alert alert-danger mt4">{{message}}</h4>
    {{/if}}
</div>